@CHARSET "UTF-8";
@page{
	width: 60mm;
	height: 40mm;
}
* {
    box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: normal;
}
body{
	position: relative;
}
.wrapper{
	position: relative;
	page-break-after: always;
}
#container{
	position: absolute;
	left: 15px;
	right: 10px;
	top: 8px;
}
table{
	width: 90%;
	height: 55%;
	border: 2px !important;
	margin-left: 7%;
	margin-top: 12%;
}
thead{
	height: 15%;
}
tbody{
	height: 75%;
}
table, thead, tbody, tr, td, th{
	border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    word-wrap:break-word;
    white-space:normal;
}
td,th{
	padding: 13px 0;
	word-break:break-all;
	
}
td.title{
	width: 5em;
    padding: 0;
}
td label{
	display: inline-block;
	max-width: 100%;
}
